<bit-simple-dialog>
  <p class="text-center">
    <img src="../images/icon38.png"/>
  </p>
  <div bitDialogTitle>Bravura Safe</div>
  <div bitDialogContent>
    <p class="text-center">&copy; 2024, Bitwarden Inc., with modifications &copy; 2024, Bravura Security, Inc.</p>
    <p class="text-center">{{ "version" | i18n }}: {{ version }}</p>
    <ng-container *ngIf="data$ | async as data">
      <p *ngIf="data.isCloud">
        {{ "serverVersion" | i18n }}: {{ data.serverConfig?.version }}
        <span *ngIf="!data.serverConfig.isValid()">
          ({{ "lastSeenOn" | i18n: (data.serverConfig.utcDate | date: "mediumDate") }})
        </span>
      </p>

      <!--
      <ng-container *ngIf="!data.isCloud">
        <ng-container *ngIf="data.serverConfig.server">
          <p>
            {{ "serverVersion" | i18n }} <small>({{ "thirdParty" | i18n }})</small>:
            {{ data.serverConfig?.version }}
            <span *ngIf="!data.serverConfig.isValid()">
              ({{ "lastSeenOn" | i18n: (data.serverConfig.utcDate | date: "mediumDate") }})
            </span>
          </p>
          <div>
            <small>{{ "thirdPartyServerMessage" | i18n: data.serverConfig.server?.name }}</small>
          </div>
        </ng-container>

        <p *ngIf="!data.serverConfig.server">
          {{ "serverVersion" | i18n }} <small>({{ "selfHostedServer" | i18n }})</small>:
          {{ data.serverConfig?.version }}
          <span *ngIf="!data.serverConfig.isValid()">
            ({{ "lastSeenOn" | i18n: (data.serverConfig.utcDate | date: "mediumDate") }})
          </span>
        </p>
      </ng-container>
      -->
    </ng-container>
  </div>
  <div bitDialogFooter>
    <button bitButton bitDialogClose buttonType="primary" type="button">
      {{ "close" | i18n }}
    </button>
  </div>
</bit-simple-dialog>
