<form [formGroup]="formGroup" [bitSubmit]="submit">
  <bit-dialog>
    <span bitDialogTitle>{{ "twoFactorHyprOpenDeviceManager" | i18n }}</span>
    <ng-container bitDialogContent>
      <p>
        {{ "twoFactorHyprConfirmOpenDeviceManager" | i18n }}
      </p>
    </ng-container>
    <ng-container bitDialogFooter>
      <button type="submit" buttonType="primary" bitButton>
        {{ "yes" | i18n }}
      </button>
      <button bitButton buttonType="secondary" type="button" bitDialogClose>
        <span>
          {{ "cancel" | i18n }}
        </span>
      </button>
    </ng-container>
  </bit-dialog>
</form>