<div class="page-header d-flex">
  <h1>{{ "policies" | i18n }}</h1>
</div>
<ng-container *ngIf="loading">
  <i
    class="fa fa-spinner fa-spin tw-text-muted"
    title="{{ 'loading' | i18n }}"
    aria-hidden="true"
  ></i>
    <span class="tw-sr-only">{{ "loading" | i18n }}</span>
</ng-container>
  <bit-table *ngIf="!loading">
    <ng-template body>
    <ng-template ngFor let-p [ngForOf]="policies">
    <tr bitRow *ngIf="p.display(organization)">
      <td bitCell>
        <a href="#" appStopClick (click)="edit(p)">{{ p.name | i18n }}</a>
        <span bitBadge variant="success" *ngIf="policiesEnabledMap.get(p.type)">{{
          "on" | i18n
        }}</span>
        <small class="text-muted d-block">{{ p.description | i18n }}</small>
      </td>
    </tr>
    </ng-template>
    </ng-template>
  </bit-table>
<ng-template #editTemplate></ng-template>
